   <html>
   <body>
        <link rel="stylesheet" href="../css/estilo.css" type="text/css" />
   <form method="post"> {% csrf_token %}
   <center>
      <table cellspacing='0' border='0'>
          <tr><!-- Inicio TOP-->
		        <td class='a1-t'></td>
		  	     <td><br></td>
		  	     <td class='a2-t'></td>
		    </tr><!-- Fin Top-->	             
          <tr><!-- Inicio Cuerpo-->
            <td class='a1-c' align='center'>
            </td>
            
            <td><br></td>  
               <td class='a2-c' align='center'>
                   <table border='0'>
                        <tr> <!--fT-->
                           <td colspan='2'>
                             <h2> Actualización de Terceros </h2>
                           </td>
                        </tr>
                        <tr> <!--f1-->
                          <td> <!--c2-->
                             <p>Id Cliente: <br>
                              {{form.idTer}}</p>
                          </td>
                          <td> <!--c3-->
                             <p>Dígito de Verificación: <br>
                              {{form.dig_ter}} 
                                </p>
                          </td>
                          <td> <!--c4-->
                             <p>Tipo de Id: <br>
                              {{form.tpo_ter}}</p>
                          </td>
                        </tr>
                        <tr> <!--f2-->
                           <td> <!--c5-->
                              <p>Primer Apellido : <br>
                               {{form.ape1ter}}
                               </p>
                          </td>
                          <td> <!--c6-->
                             <p>Segundo Apellido: <br>
                                {{form.ape2ter}}
                                </p>
                          </td>
                          <td> <!--c7-->
                             <p>Primer Nombre: <br>
                                {{form.nom1ter}}
                              </p>
                          </td>
                          <td> <!--c8-->
                             <p>Segundo Nombre: <br>
                                {{form.nom2ter}}</p>
                          </td>
                        </tr>
                        <tr> <!--f3-->
                           <td> <!--c10-->
                              <p>Razón Social: <br>
                                 {{form.des_ter}}</p>
                           </td>
                        </tr>
                        <tr> <!--f4-->
                           <td> <!--c11-->
                              <p>WebSite: <br>
                                 {{form.swebter}}</p>
                           </td>
                           <td> <!--c12-->
                              <p>Mail: <br>
                                 {{form.mailter}}</p>
                           </td>
                        </tr>
                        <tr> <!--f5-->
                           <td> <!--c13-->
                              <p>Teléfono_1: <br>
                                 {{form.tel1ter}}</p>
                           </td>
                           <td> <!--c14-->
                              <p>Teléfono_2: <br>
                                 {{form.tel2ter}} </p>
                           </td>
                           <td> <!--c15-->
                              <p>Fax: <br>
                                {{form.tel3ter}}</p>
                           </td>   
                        </tr>
                        <tr> <!--f5-->
                           <td> <!--c13-->
                              <p>Direccion_1: <br>
                                {{form.dir1ter}}</p>
                           </td>
                           <td> <!--c14-->
                              <p>Dirección_2: <br>
                                {{form.dir2ter}}</p>
                           </td>
                        </tr>
                        <tr> <!--f5-->
                           <td> <!--c13-->
                              <p>Ciudad: <br>
                                {{form.muniter}} </p>
                           </td>
                           <td> <!--c14-->
                              <p>Estado: <br>
                                {{form.depater}}</p>
                           </td>
                           <td> <!--c15-->
                              <p>Pais: <br>
                                 {{form.paister}}</p>
                           </td>
                           <td> <!--c16-->
                              <input type="hidden"    name="recno" value="<?php echo $recno; ?>" />
                           </td>
                        </tr>
                          <tr>
                             <td colspan='2'>

                                 <input type="submit" value="Grabar" />
                             </td>
                         </tr>
                   </table>
               </td>
          </tr><!-- Fin Cuerpo-->
          
  		    <tr><!-- Inicio buttom--> 
		   	<td class='a1-b'></td> 
		      	<td><br></td>          
		   		<td class='a2-b'></td> 
		    </tr><!-- Fin buttom--> 

      </table>
     <center>
     </form>
   </body>
</html>

