.derechahhhhhhh{float:right;width: 9%;clear: left;padding:0;}
.derechahhhhhh{float:right;width: 17%;clear: left;padding:0;}
.derechahhhhh{float:right;width: 3%;clear: left;padding:0;}
.derechahhhh{float:right;width: 17%;clear: left;padding:0;}
.derechahhh{float:right;width: 3%;clear: left;padding:0;}
.derechahh{float:right;width: 17%;clear: left;padding:0;}
.derechah{float:right;width: 17%;clear: left;padding:0;}
.izquierdah{float:right;width: 17%;clear: left;padding:0;}
.izquierdahb{float:right;width: 20%;clear: left;padding:0;}
.izquierdahhb{float:right;width: 20%;clear: left;padding:0;}
.izquierdahhhb{float:right;width: 20%;clear: left;padding:0;}
.espacio{float:right;width: 29.2em;height: 1em;clear: left;}



#gridDivh {
	float:left;
    height: 20em;
    width: 100%;
}

.agrrow{float:left;width: 5em;height: 3em;padding:0;}

.total{float:right;width: 12em;height: 3em;padding:0;}
.totaldes{float:right;width: 11em;height: 3em;padding:0;}