label {
  display: block;
  margin: .30em 0 0 0;
}

.izquierda {float:left;width: 45%;clear: left;padding:0}
.derecha {float:right;width: 45%;clear: right;padding:0}
.grilla{float:right;width: 52%;clear: right;padding:0}


