.derechad{float:right;width: 33%;clear: left;padding:0;}
.derechadd{float:right;width: 33%;clear: left;padding:0;}
.derechaddd{float:right;width: 34%;clear: left;padding:0;}
.derechadddd{float:right;width: 33%;clear: left;padding:0;}
.derechaddddd{float:right;width: 33%;clear: left;padding:0;}
.derechadddddd{float:right;width: 34%;clear: left;padding:0;}